extends layout

block content
  .panel.panel-default.sign-in
    .panel-body.row
      .col-md-4.col-md-offset-2.description 
        h2 View Your Trips
        p TripViewer shows trips taken with <a href="http://automatic.com" target="_blank">Automatic</a>.  See summary stats, inspect individual trips and export trips as .csv.
      .col-md-6
        a.center-block.btn.btn-primary.btn-lg(href="/authorize/") <span class="icon automatic-logo"></span>Sign in with Automatic
