extends layout

block content
  h2.pageTitle Vehicles
  #refresh.btn.btn-default <i class="glyphicon glyphicon-refresh"></i> Refresh
  #vehicles
  .loading Loading...

block scripts
  script(src="/javascripts/vehicles.js")
