body {
  background: #e1e1e1;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
  background: #FFF;
  overflow: hidden;
  padding: 10px 20px 20px 20px;
  position: relative;
  border: 1px solid #ccc;
  min-height: 420px;
}

h2.pageTitle {
  float: left;
  display: inline-block;
}


.titlebar {
  margin-top: 0;
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-size: 44px;
  font-weight: bold;
}

.tagline {
  color: #666;
}

#refresh {
  float: right;
  margin-top: 14px;
  margin-right: 16px;
}

#topmenu {
  position: absolute;
  top: 28px;
  right: 20px;
  width: 650px;
}

.alert {
  clear: both;
  display: none;
  margin-top: 20px;
}

.description {
  font-size: 16px;
  line-height: 24px;
}

.sign-in {
  margin-top: 20px;
}

.sign-in .btn-sign-in {
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 39px;
  margin-top: 12px;
  background: url(../images/signin.png) 0 0 no-repeat;
  text-indent: -9999px;
}

.display-type {
  margin-top: 20px;
}

.panel-heading {
  font-weight: bold;
}

#graphs .graph {
  height: 227px;
}

#trips {
  clear: both;
  margin-top: 30px;
  color: #777;
}

#trips a {
  color: #777;
}

.table-header {
  display: none;
}

.table-header>div {
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  padding: 0 4px;
  box-sizing: border-box;
}

#trips .table {
  margin-bottom: 0;
  border-top: 1px solid rgb(221, 221, 221);
  color: rgb(51, 51, 51);
  display: block;
}

#trips .table:first-child {
  border-top: 2px solid rgb(221, 221, 221);
}

#trips.table .table-header {
  display: block;
  padding: 8px 0;
}

.trip.table>div {
  display: inline-block;
  font-size: 12px;
  padding: 8px 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.trip.table:nth-child(odd)>div {
  background-color: #f9f9f9;
}

.table .select {
  width: 22px;
}

.table .select input {
  margin-top: 0;
}

.table .startTime {
  width: 129px;
}

.table .endTime {
  width: 129px;
}

.table .duration {
  width: 65px;
}

.table .startAddress,
.table .endAddress {
  width: 238px;
}

.table .distance {
  width: 45px;
  text-align: right;
}

.table .mpg {
  width: 45px;
  text-align: right;
}

.table .fuelCost {
  width: 45px;
  text-align: right;
}

.trip.tile {
  overflow: hidden;
  background: #e5e5e5;
  margin: 25px 0;
}

.trip.tile .times {
  width: 100px;
  float: left;
  font-size: 12px;
  padding: 10px;
  position: relative;
}

.trip.tile .duration {
  margin-top: 41px;
  font-weight: bold;
}

.trip.tile .startTime {
  margin-top: 37px;
}

.trip.tile .tripLine {
  position: absolute;
  width: 6px;
  height: 150px;
  background-color: #08b1d5;
  right: 0px;
  top: 16px;
}

.trip.tile .tripLine div {
  width: 18px;
  height: 18px;
  background-color: #08b1d5;
  border: 5px solid #08b1d5;
  border-radius: 9px;
  margin-left: -6px;
}

.trip.tile .tripLine div:first-child {
  margin-top: -3px;
}

.trip.tile .tripLine div:last-child {
  position: absolute;
  bottom: 0;
}

.trip.tile .tripSummary {
  float: left;
  width: 400px;
  padding: 10px;
  pointer: cursor;
}

.trip.tile .startAddress,
.trip.tile .endAddress {
  font-size: 18px;
  padding-left: 10px;
}

.trip.tile .tripSummaryBox {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 10px;
  margin: 8px 0;
  overflow: hidden;
}

.trip.tile .distance {
  width: 33%;
  float: left;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 14px;
}

.trip.tile .distance::after {
  content: ' MILES';
  font-size: 14px;
  font-weight: normal;
}

.trip.tile .mpg {
  width: 33%;
  float: left;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 14px;
  text-align: center;
}

.trip.tile .mpg::after {
  content: ' MPG';
  font-size: 14px;
  font-weight: normal;
}

.trip.tile .fuelCost {
  width: 33%;
  float: left;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}

.trip.tile .fuelCost::before {
  content: '$';
  font-size: 14px;
  font-weight: normal;
  padding-right: 4px;
  vertical-align: 9px;
}

.trip.tile .fuelCost::after {
  width: 21px;
  height: 28px;
  background: url(/images/fuel.png) 0 3px no-repeat;
  content: ' ';
  display: inline-block;
}

.trip.tile .hardBrakes {
  clear: both;
  float: left;
  width: 21px;
  height: 21px;
  border-radius: 11px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  margin-right: 115px;
  position: relative;
}

.trip.tile .hardBrakes::after {
  content: 'Rough Brakes';
  font-size: 10px;
  line-height: 11px;
  font-weight: normal;
  position: absolute;
  text-align: left;
  margin-left: 13px;
  color: #777;
}

.trip.tile .hardBrakes.someHardBrakes::after {
  margin-left: 10px;
}

.trip.tile .hardBrakes.noHardBrakes {
  color: #FFF;
  background: #7fb75c;
}

.trip.tile .hardBrakes.someHardBrakes {
  background: #ffc701;
}

.trip.tile .hardAccels {
  float: left;
  width: 21px;
  height: 21px;
  border-radius: 11px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  margin-right: 115px;
  position: relative;
}

.trip.tile .hardAccels::after {
  content: 'Hard Accels';
  font-size: 10px;
  line-height: 11px;
  font-weight: normal;
  position: absolute;
  text-align: left;
  margin-left: 13px;
  color: #777;
}

.trip.tile .hardAccels.noHardAccels {
  color: #FFF;
  background: #7fb75c;
}

.trip.tile .hardAccels.someHardAccels {
  background: #ffc701;
}

.trip.tile .durationOver70 {
  float: left;
  width: 21px;
  height: 21px;
  font-weight: normal;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  border-radius: 3px;
}

.trip.tile .durationOver70::after {
  content: 'Under 70 MPH';
  font-size: 10px;
  line-height: 11px;
  font-weight: normal;
  position: absolute;
  text-align: left;
  margin-left: 13px;
  width: 40px;
  color: #777;
}

.trip.tile .durationOver70.someSpeeding::after {
  content: 'Min Over 70 MPH';
  color: #777;
  width: 42px;
}

.trip.tile .durationOver70.noSpeeding {
  background: #7fb75c;
  color: #FFF
}

.trip.tile .durationOver70.someSpeeding {
  color: #FFF;
  background: #fe8c0a;
}

.trip.tile .map {
  width: 450px;
  height: 183px;
  float: right;
}

.loading {
  text-align: center;
  font-size: 20px;
  height: 130px;
  background: #FFF url(/images/loading.gif) center bottom no-repeat;
  height: 130px;
  position: absolute;
  right: 50%;
  top: 250px;
  width: 200px;
  margin-right: -100px;
  border-radius: 4px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  display: none;
}


.github-fork-ribbon {
  position: absolute;
  padding: 2px 0;
  background-color: #a00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);

  z-index: 9999;
  pointer-events: auto;

  top: 42px;
  right: -43px;

  /* Rotate the banner 45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,0.5);
  text-align: center;
  width: 200px;
  line-height: 20px;
  display: inline-block;
  padding: 2px 0;
  border-width: 1px 0;
  border-style: dotted;
  border-color: rgba(255,255,255,0.7);
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;
  right: 0;
}

.btn.back {
  margin-top: 15px;
}

#trip {
  overflow: hidden;
}

#trip h2 {
  margin-top: 15px;
}

#trip .map {
  width: 500px;
  height: 360px;
  float: left;
}

#trip .trip.tile {
  width: 435px;
  height: 360px;
  float: right;
  margin: 0;
  position: relative;
  padding: 15px;
}

#trip .trip.tile .tripSummary {
  width: 295px;
  margin-left: 10px;
}

#trip .trip.tile .distance,
#trip .trip.tile .mpg,
#trip .trip.tile .fuelCost {
  display: inline-block;
  float: none;
  text-align: left;
  width: 60%;
}

#trip .trip.tile .hardBrakes,
#trip .trip.tile .hardAccels,
#trip .trip.tile .durationOver70 {
    display: inline-block;
    float: none;
    vertical-align: 7px;
    margin-right: 70px;
}

#trip .trip.tile .duration {
  font-size: 16px;
  margin-top: 76px;
}

#trip .trip.tile .startTime {
  margin-top: 76px;
}

#trip .trip.tile .tripLine {
  height: 227px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path,
.y.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

text.key {
  fill: #666;
  font-size: 11px;
}

#vehicles {
  clear: both;
}

#vehicles .vehicle {
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

#vehicles .vehicle:first-child {
  border-top: 1px solid #ccc;
}

#vehicles .vehicle .vehicleDetails {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  height: 53px;
}

#vehicles .vehicle .vehicleDetails .display_name {
  font-size: 22px;
  font-weight: bold;
  display: block;
}

#vehicles .vehicle .color {
  width: 175px;
  height: 52px;
  background-image: url('../images/vehicle.png');
  background-repeat: no-repeat;
  background-size: 175px 52px;
  display: inline-block;
}

#vehicles .vehicle .vehicleStats {
  display: inline-block;
  width: 490px;
  vertical-align: top;
}

#vehicles .vehicle .vehicleStats>div {
  width: 219px;
  float: left;
  padding-left: 30px;
  font-size: 15px;
  padding-bottom: 7px;
}

#vehicles .vehicle .vehicleStats:nth-child(2) {
  clear: left;
}

#vehicles .vehicle .vehicleStats .trip_count {
  position: absolute;
  top: 30px;
  left: 300px;
  font-weight: bold;
}

#vehicles .vehicle .vehicleStats span.badge {
  float: right;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) {
  .sign-in .btn-sign-in {
    background-image: url(../images/signin@2x.png);
    background-size: 240px 39px;
  }
}
